<h1>Convite para o Synaxis Koinonia</h1>
<p>Olá,</p>
<p>
  Você foi convidado(a) a atuar como validador(a) no Synaxis Koinonia. Aceite o
  convite e defina sua senha através do link abaixo:
</p>
<p><a href="<%= @url %>"><%= @url %></a></p>
<p>O convite expira em <%= l(@convite.expira_em, format: :long) %>.</p>
